<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.makeachoice.elephanttribe">

    <application
        android:name=".controller.manager.Boss"
        android:allowBackup="true"
        android:icon="@drawable/elephant01c"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ElephantTheme">
        <activity
            android:name=".view.activity.DeckActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.TutorialActivity"
            android:launchMode="singleTask" />

        <provider android:name=".controller.modelside.provider.ElephantProvider"
            android:authorities="me.makeachoice.elephanttribe.memorybuilder.app"/>

    </application>

</manifest>